html, 
body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
.wrapper {
    width: 1024px;
    margin: auto;
    padding: 20px 0px 20px 0px;
}

/*==Section==*/
section {
    min-height: 100vh;
    padding: 80px 10%;
    box-sizing: border-box;
}


/*
* menu
*/
nav {
    background-color: #601D49;
    color: #F9F7F7;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav > .wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

.menu {
    width: 50%;
}

.menu > ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px; 
    justify-content: space-between;
    font-size: 16px;
}

.menu > ul > li > a {
    text-decoration: none;
    color: #F9F7F7;
    transition: 0.3s;
}

.menu > ul > li > a:hover {
    color: #EA9D9D;
}

/*
* Hero / jumbotron
*/
.hero {
    min-height: 550px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF5F5;
}


/* LEFT SIDE */

.hero-text {
    width: 48%;
}

.hello {
    display: inline-block;
    border: 1px solid #601D49;
    border-radius: 25px;
    padding: 7px 12px;
    font-size: 14px;
    margin-bottom: 20px;
    color: #601D49;
    background-color: #EA9D9D;
}

.hero h1 {
    font-size: 42px;
    line-height: 1.15;
    margin-bottom: 20px;
}

.hero h1 span {
    color: #8B1E2D;
    font-weight: 500;
}

.hero p {
    color: #777;
    font-size: 13px;
    line-height: 1.7;
    max-width: 450px;
    margin-bottom: 28px;
}


/* BUTTONS */

.buttons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.btn-cv {
    display: inline-block;
    padding: 13px 20px;
    border: 1px solid #601D49;
    border-radius: 25px;
    text-decoration: none;
    color: #ffff;
    background-color: #601D49;
    font-size: 13px;
    transition: 0.3s;
}

.btn-cv:hover {
    background-color: #457B9D;
    color: white;
}

.hire-btn {
    border: 1px solid #601D49;
    color: #601D49;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 25px;
    font-size: 13px;
}


/* =========================
   HERO IMAGE
========================= */

.hero-image {
    width: 50%;
    height: 450px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}


/* YELLOW CIRCLE */

.yellow-circle {
    position: absolute;
    width: 310px;
    height: 310px;
    background: #FFE8B4;
    border-radius: 50%;
    top: 100px;
    z-index: 1;
}


/* PROFILE IMAGE */

.hero-image img {
    position: relative;
    z-index: 2;
    height: 400px;
    bottom: 50px;
    object-fit: contain;
}


/* BADGES */

.badge {
    position: absolute;
    z-index: 5;
    background: #BD5579;
    color: white;
    padding: 9px 16px;
    border-radius: 20px;
    font-size: 12px;
}

.badge-one {
    bottom: 250px;
    left: 40px;
}

.badge-two {
    right: 10px;
    top: 180px;
    background: #EA9D9D;
    color: white;
}

.badge-three {
    right: 180px;
    bottom: 40px;
    background: white;
    color: #601D49;
    border: 1px solid #601D49;
}


/* =========================
   ABOUT
========================= */

.about {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    background: #E2B4BD;
}

/* FOTO */

.about-image {
    width: 45%;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image img {
    width: 300px;
    position: relative;
    z-index: 2;
}

/* LINGKARAN */

.about-circle {
    position: absolute;
    width: 280px;
    height: 280px;
    background: #FFEBB8;
    border-radius: 50%;
    top: 100px;
    z-index: 1;
}


/* TEXT */

.about-text {
    width: 55%;
}

.section-label {
    color: #f2ae00;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.about-text h2 {
    font-size: 36px;
    line-height: 1.2;
    margin: 15px 0 20px;
    color: #FFF5F5;
}

.about-text h2 span {
    color: #601D49;
}

.about-text p {
    color: #FFF5F5;
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 15px;
    max-width: 550px;
}

.buttons-about {
    display: flex;
    gap: 15px;
    align-items: center;
}

.portfolio-btn {
    display: inline-block;
    padding: 13px 20px;
    border: 1px solid #FFEBB8;
    border-radius: 25px;
    text-decoration: none;
    color: #FFEBB8;
    background-color: #601D49;
    font-size: 13px;
    transition: 0.3s;
}

.education {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px 0 25px;
    padding: 15px 20px;
    max-width: 450px;

    background: #FFF5F5;
    border: 1px solid rgba(255, 235, 184, 0.6);
    border-radius: 15px;
}

.education-icon {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: #FFEBB8;
    border-radius: 50%;
    font-size: 22px;
}

.education-info span {
    color: #EA9D9D;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
}

.education-info h3 {
    color: #601D49;
    font-size: 16px;
    margin: 4px 0;
}

.education-info p {
    color: #601D49;
    font-size: 12px;
    margin: 0 0 3px;
}

.education-info small {
    color: #601D49;
    font-size: 11px;
}

/*Social Media*/
.social-links {
    display: flex;
    gap: 25px;
    margin-top: 30px;
}

.social-links a {
    font-size: 28px;
    color: #457B9D;
    transition: 0.3s;
}

.social-links a:hover {
    transform: translateY(-5px);
}


/* =========================
   SKILLS
========================= */
#skills {
    padding: 100px 10%;
    text-align: center;
    font-size: 24px;
    background: #BD5579;
}

.skills-content h2{
    color: #FFF5F5;
}

.skills-container {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    
    
}

.skill-card {

    border: 1px solid #601D49;
    min-height: 200px;
    padding: 25px 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.skill-card img {
    width: 55px;
    height: 55px;
    object-fit: contain;
    margin-bottom: 12px;
}

.skill-card h3 {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
}

.skill-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-top: 15px;
}

.skills-tags span {
    background-color: #F0E3EC;
    color: #601D49;
    padding: 6px 9px;
    border-radius: 20px;
    font-size: 10px;
    text-align: center;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: normal;
    line-height: 1.3;
    width: 100%;
}

.skill-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
    .skills-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .skills-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .skill-card {
        height: 130px;
    }

    .skill-card img {
        width: 45px;
        height: 45px;
    }
}


/* =========================
   PROJECTS
========================= */
#projects {
    padding: 50px 10%;
    text-align: center;
    font-size: 24px;
    background: #FFF5F5;
}

.projects-description {
    margin-top: 1px;
    color: #777;
    font-size: 18px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    max-width: 1000px;
    height: 400px;
    margin: 50px auto;
}

.project-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    transition: 0.3s ease;
}

.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.project-card img {
    width: 100%;
    height: 40%;
    object-fit: cover;
}

.project-content {
    padding: 12px;
}

.project-content h3 {
    margin-bottom: 5px;
    font-size: 15px;
    margin-top: 1px;
}

.project-content p {
    color: #666;
    line-height: 1.6;
    font-size: 12px;
    text-align: left;
}

.project-tools {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    margin: 15px 0;
}

.project-tools span {
    padding: 6px 12px;
    background: #f3f3f3;
    border-radius: 20px;
    font-size: 12px;
}

.project-button {
    text-decoration: none;
    color: #222;
    font-weight: 600;
    font-size: 14px;
}

.project-button:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .project-container {
        grid-template-columns: 1fr;
    }
}

/* =========================
   CONTACT
========================= */
#contact {
    padding: 100px 10%;
    text-align: center;
    font-size: 24px;
}

.contact-description {
    color: #666;
    margin: 15px auto 40px;
    max-width: 500px;
    font-size: 18px;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

.contact-item {
    width: 130px;
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid #ddd;
    border-radius: 15px;

    text-decoration: none;
    color: #601D49;

    transition: 0.3s ease;
}

.contact-item i {
    font-size: 28px;
    margin-bottom: 10px;
}

.contact-item span {
    font-size: 13px;
}

.contact-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}


/* =========================
   RESPONSIVE / MOBILE
========================= */
.menu-toggle {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

     .wrapper {
        width: 100%;
        box-sizing: border-box;
    }

    nav > .wrapper {
        padding: 15px 20px;
        position: sticky;
    }

    .menu-toggle {
        display: block;
        font-size: 28px;
        cursor: pointer;
        margin-left: auto;
    }

    .menu {
        display: none;
        position: absolute;
        top: 100%;
        left: auto;
        right: 0;
        width: 160px;
        background-color: #601D49;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    }

    .menu.active {
        display: block;
    }

    .menu > ul {
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 0;
        margin: 0;
    }

    .menu > ul > li {
        width: 100%;
        text-align: center;
    }

    .menu > ul > li > a {
        display: block;
        padding: 10px 15px;
        text-align: left;
    }

     .menu > ul > li > a:hover {
        background-color: #EA9D9D;
        color: #601D49;
    }
}

/* =========================
   MOBILE HERO
========================= */

@media (max-width: 768px) {

    .hero {
        min-height: auto;
        width: 100%;
        padding: 60px 20px 40px;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 20px;
        box-sizing: border-box;
    }

    /* LEFT SIDE */
    .hero-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hello {
        font-size: 12px;
        padding: 6px 12px;
        margin-bottom: 15px;
    }

    .hero h1 {
        font-size: 32px;
        line-height: 1.2;
        margin-bottom: 15px;
    }

    .hero p {
        font-size: 13px;
        line-height: 1.6;
        max-width: 350px;
        margin-bottom: 22px;
    }

    /* BUTTONS */
    .buttons {
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    .btn-cv,
    .hire-btn {
        font-size: 12px;
        padding: 11px 18px;
    }


    /* =========================
       HERO IMAGE
    ========================= */

    .hero-image {
        width: 100%;
        height: 350px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;
    }


    /* YELLOW CIRCLE */

    .yellow-circle {
        width: 230px;
        height: 230px;
        top: 50px;
    }


    /* PROFILE IMAGE */

    .hero-image img {
        height: 300px;
        bottom: 20px;
        max-width: 90%;
    }


    /* =========================
       BADGES
    ========================= */

    .badge {
        font-size: 10px;
        padding: 7px 11px;
        border-radius: 15px;
    }

    .badge-one {
        bottom: 180px;
        left: 40px;
    }

    .badge-two {
        right: 30px;
        top: 100px;
    }

    .badge-three {
        right: 220px;
        bottom: 10px;
    }
}


 /* =========================
       ABOUT
    ========================= */
@media (max-width: 768px) {

    .about {
        flex-direction: column;
        padding: 50px 20px;
        gap: 20px;
        text-align: center;
    }

    .about-image {
        width: 100%;
        height: 300px;
    }

    .about-image img {
        width: 230px;
    }

    .about-circle {
        width: 220px;
        height: 220px;
        top: 60px;
    }

    .about-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-text h2 {
        font-size: 30px;
    }

    .about-text p {
        font-size: 13px;
    }

    .education {
        width: 100%;
        max-width: 400px;
        box-sizing: border-box;
        text-align: left;
    }

    .buttons-about {
        justify-content: center;
    }
}